{% load static %}
<section id="header">
    <a href="#"><img src="{% static 'uploads/logo-png.png' %}" class="logo" alt="" style="width: 180px;"></a>
    <!-- Navigation Bar -->
    <div>
        <ul id="navbar">
            <li>
                <form class="form-inline" action="{% url 'search_results' %}" method="get">
                    <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>

            
            {% if user.is_authenticated %}
                <li><a href="#">Welcome, {{ user.username }}</a></li>

                <li class="profile-dropdown">
                    <button class="profile-dropbtn">Profile</button>
                    <div class="profile-dropdown-content">
                        <a href="{% url 'view_profile' %}">View Profile</a>
                        <a href="{% url 'order_history' %}">Order History</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li><a href="{% url 'customer_login' %}">Login</a></li>
            {% endif %}
            
            <li><a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i></a></li> 
        </ul>
    </div>
</section>
